<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amphawan_001</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/css/main.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href='@Url.Action("Index","Catalog_")'>หน้าหลัก</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        @*<a class="nav-link" href="@Url.Action("","")">รายการหนังสือ</a>*@
      </li>
      <li class="nav-item dropdown">
        @*<a class="nav-link dropdown-toggle" href="@Url.Action("","")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ตระกร้า
        </a>*@
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                @*<span class="text-uppercase text-white" href="@Url.Action("","")">ประวัติการยืม</span>*@
                <ul class="nav flex-column">

                @*<li class="nav-item">
                  <a class="nav-link" href="@Url.Action("","")">Link item</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@Url.Action("","")">Link item</a>
                </li>*@
              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="@Url.Action("","")">Active</a>
                </li>
              </ul>
              </div>
              <!-- /.col-md-4  -->
              
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item dropdown">
        @*<a class="nav-link dropdown-toggle" href="@Url.Action("","")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         ประวัติการยืม
        </a>*@
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="text-uppercase text-white">ประวัติการยืม</span>
                <ul class="nav flex-column">
                @*<li class="nav-item">
                  <a class="nav-link active" href="@Url.Action("","")">Active</a>
                </li>*@

              </ul>
              </div>
              <!-- /.col-md-4  -->
              <div class="col-md-4">
                @*<ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="@Url.Action("","")">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@Url.Action("","")">Link item</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="@Url.Action("","")">Link item</a>
                </li>
              </ul>*@
              </div>
              <!-- /.col-md-4  -->
             
              <!-- /.col-md-4  -->
            </div>
          </div>
          <!--  /.container  -->


        </div>
      </li>
      <li class="nav-item dropdown">
 
       

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href='@Url.Action("Index","Catalog_")'>
         รายการหนังสือ
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href='@Url.Action("Index","Market")' >
          ตะกร้า
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href='@Url.Action("Index","History_")' >
          ประวัติการยืม
        </a>

      </li>
        <li>

             <a class="nav-link dropdown-toggle" href="@Url.Action("Login","Account_")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          @TempData["loginandlogout"]
        </a>
             <a class="nav-link dropdown-toggle" hidden="hidden" href="@Url.Action("Logout","Account_")" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          @TempData["loginandlogout"]
        </a>
        </li>
              
    </ul>
    
  </div>


</nav>
    </header>
   

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="justify-content-center" >
    
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/catalog.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
      <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
